@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.header{
    background: #1f1e26;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;


}

.header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #db8132; 
    text-decoration: none;
}

.header header ul{
    display: flex;
    list-style: none;

}

.header header nav ul li a{
    position: relative;
    left: 100%;
    font-size: 20px;
    color: #fff;
    margin: 0 20px;
    padding: 8px;
    transition: 0.5s;
    text-decoration: none;
}

.header header nav ul li a:hover{
    color:#db8132;
}

.responsiveNav{
    background-color: #db8132;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}


/*Inicio*/

.inicio{
    background: linear-gradient(to top, rgba(31, 30, 38, 0.8), rgb(32, 30, 38)), url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .cvFoto{
    padding: 20px;
    background-color:#1f1e26;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .cvFoto img{
    border-radius: 10%;
    transform: scaleX(-1);
    margin-top: 40px;
    border: 10px solid #db8132;
    display: block;
    width: 80%;
    margin: auto;
}

.inicio .cvFoto h1{
    color: #db8132;
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .cvFoto h2{
    color: #3EB489;
    font-size: 15px;
    font-weight: normal;

}

.inicio .cvFoto .redes a{
    color: #3EB489;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #db8132;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .cvFoto .redes a:hover{
    background-color:  #db8132;
}
.sobreMi {
    background-color: #1f1e26;
    color: #fff;
    padding: 163px 20px;
    font-size: 20px;

}

.sobreMi .about {
    max-width: 1100px;
    margin: auto;
}

.sobreMi h2{
    color: #3EB489;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobreMi .about p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobreMi .about p span{
    color:  #db8132;
    font-weight: bold;
}

.sobreMi .fila{
    display: flex;
}

.sobreMi .fila .col{
    width: 50%;
}

.sobreMi .fila .col h3{
    color: #3EB489;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobreMi .fila .col ul{
    list-style: none;

}

.sobreMi .fila .col ul li{
    margin: 12px 0;

}

.sobreMi .fila .col ul li strong{
    display: inline-block;
    color:  #db8132;
    width: 130px;
}


.contacto{
    background-image: url(img/contact-us-background.webp);
    background-color: #1f1e26;
    color: #3EB489;
    padding: 140px 0;
}

.contacto .about{
    max-width: 1100px;
    margin: auto;

}

.contacto h2{
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 10px 0;
}

.contacto .fila{
    display: flex;

}

.contacto .col{
    width: 50%;
    padding: 0;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    position: relative;
    left: 400px;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
    background-color: #292720ae;
    color: #db8132;
    font-size:18px;
}

.contacto button{
    cursor: pointer;
    font-weight: bold;
    position: relative;
    left: 400px;
    background-color: transparent;
    border: 5px solid #292720ae;
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    font-size: 16px;
    color: #3EB489;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:  #db8132;
    z-index: -1;
    transition: 0.6s;
}

.contacto button:hover .overlay{
    width: 100%;
}


@media screen and (max-width:980px) {
    nav{
        display: none;
    }

    .nav-responsive{
        display: block;
    }

    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color:#363442;
        width: 180px;
    }
    
    nav.responsive ul{
        display: block !important;
    }
    
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }

    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }

    .skills .fila .col{
        width: 100%;
    }

    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }

    .curriculum .fila .col{
        width: 90%;
    }

    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portafolio .galeria{
        display: block;
        width: 100%;
    }

    .portafolio .galeria .proyecto{
        max-width: 100%;
    }

    .portafolio .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }

    .contacto .fila .col{
        width: 100%;
    }
}
